In [53]:
import pandas as pd

In [54]:
data = pd.read_csv('AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2019_Datensatz.csv',delimiter=";",encoding='latin1')

In [55]:
data

,OBJECTID,LAND,BEZ,LOR,STRASSE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,49090,11,12,12301203,Wittenau Süd,2019,1,13,6,3,...,1,0,0,0,0,1,"794062,2837","5835083,823","13,34146","52,58609"
1,49091,11,3,3040818,Pankow Süd,2019,1,9,5,3,...,1,0,0,0,0,0,"799130,4007","5832327,415","13,41356","52,55862"
2,49093,11,12,12103115,Breitkopfbecken,2019,3,21,6,3,...,0,0,0,0,0,0,"795437,613","5833549,454","13,36034","52,57159"
3,49096,11,6,6040703,Nikolassee,2019,1,7,6,2,...,1,1,0,0,0,1,"786714,3754","5817042,137","13,21777","52,42825"
4,49097,11,7,7030303,Grazer Platz,2019,2,15,3,3,...,1,0,0,0,0,0,"796074,3342","5822724,905","13,36007","52,47421"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13385,202775,11,1,1011303,Alexanderplatzviertel,2019,12,15,2,3,...,1,1,0,0,0,0,"799498,019","5828344,449","13,41538","52,52271"
13386,202776,11,1,1011201,Wilhelmstraße,2019,12,14,2,3,...,1,0,0,0,0,0,"797455,1835","5827060,276","13,38421","52,51232"
13387,202777,11,1,1011304,Karl-Marx-Allee,2019,12,14,2,3,...,1,0,0,0,1,0,"799730,882","5827547,138","13,41808","52,51544"
13388,202778,11,11,11030721,Rüdigerstraße,2019,12,18,4,2,...,1,0,1,0,0,0,"805189,971","5827912,648","13,49862","52,51569"
13389,202779,11,1,1011202,Unter den Linden Nord,2019,12,14,4,3,...,1,0,0,0,0,0,"797197,6797","5827499,898","13,38082","52,5164"

In [56]:
columns = ["id", "city", "district", "lor", "street", "year", "month", "hour", "weekday", 
           "injury", "collision", "movement", "light_conditions", "bicycle", "car", "pedestrian",
           "motorbike", "truck", "other_vehicle", "road_conditions", 
           "LINREFX", "LINREFY", "longitude", "latitude"]

data.columns = columns

In [57]:
data

,id,city,district,lor,street,year,month,hour,weekday,injury,...,car,pedestrian,motorbike,truck,other_vehicle,road_conditions,LINREFX,LINREFY,longitude,latitude
0,49090,11,12,12301203,Wittenau Süd,2019,1,13,6,3,...,1,0,0,0,0,1,"794062,2837","5835083,823","13,34146","52,58609"
1,49091,11,3,3040818,Pankow Süd,2019,1,9,5,3,...,1,0,0,0,0,0,"799130,4007","5832327,415","13,41356","52,55862"
2,49093,11,12,12103115,Breitkopfbecken,2019,3,21,6,3,...,0,0,0,0,0,0,"795437,613","5833549,454","13,36034","52,57159"
3,49096,11,6,6040703,Nikolassee,2019,1,7,6,2,...,1,1,0,0,0,1,"786714,3754","5817042,137","13,21777","52,42825"
4,49097,11,7,7030303,Grazer Platz,2019,2,15,3,3,...,1,0,0,0,0,0,"796074,3342","5822724,905","13,36007","52,47421"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13385,202775,11,1,1011303,Alexanderplatzviertel,2019,12,15,2,3,...,1,1,0,0,0,0,"799498,019","5828344,449","13,41538","52,52271"
13386,202776,11,1,1011201,Wilhelmstraße,2019,12,14,2,3,...,1,0,0,0,0,0,"797455,1835","5827060,276","13,38421","52,51232"
13387,202777,11,1,1011304,Karl-Marx-Allee,2019,12,14,2,3,...,1,0,0,0,1,0,"799730,882","5827547,138","13,41808","52,51544"
13388,202778,11,11,11030721,Rüdigerstraße,2019,12,18,4,2,...,1,0,1,0,0,0,"805189,971","5827912,648","13,49862","52,51569"
13389,202779,11,1,1011202,Unter den Linden Nord,2019,12,14,4,3,...,1,0,0,0,0,0,"797197,6797","5827499,898","13,38082","52,5164"

In [58]:
data.dtypes

id                   int64
city                 int64
district             int64
lor                  int64
street              object
year                 int64
month                int64
hour                 int64
weekday              int64
injury               int64
collision            int64
movement             int64
light_conditions     int64
bicycle              int64
car                  int64
pedestrian           int64
motorbike            int64
truck                int64
other_vehicle       object
road_conditions     object
LINREFX             object
LINREFY             object
longitude           object
latitude            object
dtype: object

In [59]:
data['other_vehicle'].value_counts()

0              11508
1               1881
812083,7893        1
Name: other_vehicle, dtype: int64

In [60]:
data[data['other_vehicle']=='812083,7893']

,id,city,district,lor,street,year,month,hour,weekday,injury,...,car,pedestrian,motorbike,truck,other_vehicle,road_conditions,LINREFX,LINREFY,longitude,latitude
11893,201196,11,10,10020415,Hellersdorfer Promenade,2019,11,8,4,3,...,1,0,0,0,"812083,7893",Hellersdorfer Promenade,"5831815,307","13,60354728","52,54675821",1

In [61]:
data.at[11893, 'other_vehicle'] = '1'
data.at[11893, 'road_conditions'] = '0'
data.at[11893,'LINREFX'] = '812083,7893'
data.at[11893,'LINREFY'] = '5831815,307'
data.at[11893,'longitude'] = '13,60354728'
data.at[11893,'latitude'] = '52,54675821'

In [62]:
data.loc[11892:]

,id,city,district,lor,street,year,month,hour,weekday,injury,...,car,pedestrian,motorbike,truck,other_vehicle,road_conditions,LINREFX,LINREFY,longitude,latitude
11892,201195,11,8,8010117,Schillerpromenade,2019,11,8,4,3,...,1,0,0,1,0,1,"800519,7025","5823425,441","13,42595","52,47806"
11893,201196,11,10,10020415,Hellersdorfer Promenade,2019,11,8,4,3,...,1,0,0,0,1,0,"812083,7893","5831815,307","13,60354728","52,54675821"
11894,201197,11,10,10030724,Oberfeldstraße,2019,11,7,4,3,...,1,1,0,0,0,1,"809641,6151","5829674,516","13,56565","52,52897"
11895,201198,11,3,3050920,Weißer See,2019,11,6,4,3,...,1,0,1,0,0,1,"801941,4468","5832570,497","13,45512","52,55924"
11896,201199,11,11,11020412,Hauptstraße,2019,11,6,4,3,...,1,0,0,0,0,1,"805764,6651","5831835,64","13,51067","52,55052"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13385,202775,11,1,1011303,Alexanderplatzviertel,2019,12,15,2,3,...,1,1,0,0,0,0,"799498,019","5828344,449","13,41538","52,52271"
13386,202776,11,1,1011201,Wilhelmstraße,2019,12,14,2,3,...,1,0,0,0,0,0,"797455,1835","5827060,276","13,38421","52,51232"
13387,202777,11,1,1011304,Karl-Marx-Allee,2019,12,14,2,3,...,1,0,0,0,1,0,"799730,882","5827547,138","13,41808","52,51544"
13388,202778,11,11,11030721,Rüdigerstraße,2019,12,18,4,2,...,1,0,1,0,0,0,"805189,971","5827912,648","13,49862","52,51569"
13389,202779,11,1,1011202,Unter den Linden Nord,2019,12,14,4,3,...,1,0,0,0,0,0,"797197,6797","5827499,898","13,38082","52,5164"

In [63]:
data['other_vehicle'].value_counts()

0    11508
1     1882
Name: other_vehicle, dtype: int64

In [64]:
data['road_conditions'].value_counts()

0    10155
1     3190
2       45
Name: road_conditions, dtype: int64

In [65]:
data['other_vehicle'] = data['other_vehicle'].astype(int)
data['road_conditions'] = data['road_conditions'].astype(int)

In [66]:
data.longitude = data.longitude.str.replace(",", ".")
data.latitude = data.latitude.str.replace(",", ".")

In [67]:
data.longitude = data.longitude.astype(float)
data.latitude = data.latitude.astype(float)

In [68]:
data.dtypes

id                    int64
city                  int64
district              int64
lor                   int64
street               object
year                  int64
month                 int64
hour                  int64
weekday               int64
injury                int64
collision             int64
movement              int64
light_conditions      int64
bicycle               int64
car                   int64
pedestrian            int64
motorbike             int64
truck                 int64
other_vehicle         int64
road_conditions       int64
LINREFX              object
LINREFY              object
longitude           float64
latitude            float64
dtype: object

In [69]:
data = data.drop(['id','city','year',"LINREFX", "LINREFY"], axis=1)

In [70]:
-data['street'].nunique()

441

**Find out whether road_conditions and light_conditions are related.**

In [71]:
road_light = data[['month','hour','road_conditions','light_conditions']]
road_light.head()

   month  hour  road_conditions  light_conditions
0      1    13                1                 0
1      1     9                0                 0
2      3    21                0                 2
3      1     7                1                 1
4      2    15                0                 0

In [72]:
road_light['month'] = road_light['month'].astype(int)

import calendar
road_light['month'] = road_light['month'].apply(lambda x: calendar.month_abbr[x])
road_light.head()

/var/folders/mq/9_lx1p317k12454gn9x3s1zm0000gn/T/ipykernel_40474/2964067095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  road_light['month'] = road_light['month'].astype(int)
/var/folders/mq/9_lx1p317k12454gn9x3s1zm0000gn/T/ipykernel_40474/2964067095.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  road_light['month'] = road_light['month'].apply(lambda x: calendar.month_abbr[x])

  month  hour  road_conditions  light_conditions
0   Jan    13                1                 0
1   Jan     9                0                 0
2   Mar    21                0                 2
3   Jan     7                1                 1
4   Feb    15                0                 0

In [74]:
road_light['hour'] = road_light['hour'].astype(str)
road_light.dtypes

/var/folders/mq/9_lx1p317k12454gn9x3s1zm0000gn/T/ipykernel_40474/1501823858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  road_light['hour'] = road_light['hour'].astype(str)

month               object
hour                object
road_conditions      int64
light_conditions     int64
dtype: object

In [76]:
crosstab = pd.crosstab(road_light['road_conditions'],road_light['light_conditions'], margins=False)

In [77]:
crosstab

light_conditions     0    1     2
road_conditions
0                 8191  425  1539
1                 1640  296  1254
2                   27    3    15

In [83]:
# H0: road_conditions and light_conditions are independent
# H1: road_conditions and light_conditions are not independent

import scipy.stats as st
st.chi2_contingency(crosstab)

Chi2ContingencyResult(statistic=1078.5253219202739, pvalue=3.418275024278732e-232, dof=4, expected_freq=array([[7.47632487e+03, 5.49082898e+02, 2.12959223e+03],
       [2.34854518e+03, 1.72483943e+02, 6.68970874e+02],
       [3.31299477e+01, 2.43315907e+00, 9.43689320e+00]]))

In [82]:
road_light.corr()

/var/folders/mq/9_lx1p317k12454gn9x3s1zm0000gn/T/ipykernel_40474/4286548575.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  road_light.corr()

                  road_conditions  light_conditions
road_conditions          1.000000          0.274719
light_conditions         0.274719          1.000000

In [84]:
# p < 0.05, reject H0, light_conditions and road_conditions are not independent.

In [22]:
import numpy as np
numericals = data.select_dtypes(include=np.number)
numericals

,district,lor,month,hour,weekday,injury,collision,movement,light_conditions,bicycle,car,pedestrian,motorbike,truck,other_vehicle,road_conditions,longitude,latitude
0,12,12301203,1,13,6,3,5,3,0,1,1,0,0,0,0,1,13.34146,52.58609
1,3,3040818,1,9,5,3,5,3,0,1,1,0,0,0,0,0,13.41356,52.55862
2,12,12103115,3,21,6,3,0,1,2,1,0,0,0,0,0,0,13.36034,52.57159
3,6,6040703,1,7,6,2,6,4,1,0,1,1,0,0,0,1,13.21777,52.42825
4,7,7030303,2,15,3,3,2,6,0,0,1,0,0,0,0,0,13.36007,52.47421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13385,1,1011303,12,15,2,3,3,6,0,0,1,1,0,0,0,0,13.41538,52.52271
13386,1,1011201,12,14,2,3,1,5,0,1,1,0,0,0,0,0,13.38421,52.51232
13387,1,1011304,12,14,2,3,2,2,0,0,1,0,0,0,1,0,13.41808,52.51544
13388,11,11030721,12,18,4,2,5,2,2,0,1,0,1,0,0,0,13.49862,52.51569
13389,1,1011202,12,14,4,3,2,2,0,1,1,0,0,0,0,0,13.38082,52.51640

In [23]:
numericals.corr()

,district,lor,month,hour,weekday,injury,collision,movement,light_conditions,bicycle,car,pedestrian,motorbike,truck,other_vehicle,road_conditions,longitude,latitude
district,1.000000,0.995544,0.013050,-0.015273,0.000287,-0.052929,0.041418,-0.016837,-0.010872,-0.118918,0.067949,0.024651,-0.011485,0.009054,0.001900,0.022314,0.260066,-0.111491
lor,0.995544,1.000000,0.011671,-0.016286,0.000370,-0.052242,0.041158,-0.016707,-0.010157,-0.118460,0.069570,0.023336,-0.011794,0.008114,0.000217,0.022370,0.256023,-0.105933
month,0.013050,0.011671,1.000000,-0.002199,0.014098,0.013922,-0.027893,0.002517,0.092721,0.007080,-0.031943,-0.017539,0.030212,-0.007292,0.020024,0.055922,0.008040,-0.000674
hour,-0.015273,-0.016286,-0.002199,1.000000,0.028839,-0.015830,-0.012293,0.027956,0.255951,-0.018052,0.021650,0.041672,0.020163,-0.086604,-0.030827,0.019604,-0.012448,-0.011282
weekday,0.000287,0.000370,0.014098,0.028839,1.000000,-0.014083,-0.010932,-0.003400,0.020325,-0.001884,0.005522,0.002056,-0.011212,-0.014748,0.004608,-0.009865,-0.000594,0.003747
injury,-0.052929,-0.052242,0.013922,-0.015830,-0.014083,1.000000,-0.103575,0.064214,-0.053082,0.048472,0.050791,-0.138883,-0.056115,-0.026458,-0.000508,-0.007823,-0.000415,0.016001
collision,0.041418,0.041158,-0.027893,-0.012293,-0.010932,-0.103575,1.000000,-0.286758,0.051902,-0.019256,0.143320,0.409512,-0.151965,-0.029493,-0.117610,0.010339,0.036179,0.002801
movement,-0.016837,-0.016707,0.002517,0.027956,-0.003400,0.064214,-0.286758,1.000000,-0.058323,-0.156078,0.061152,0.016589,-0.011151,0.054258,0.071207,-0.057228,-0.032749,0.004366
light_conditions,-0.010872,-0.010157,0.092721,0.255951,0.020325,-0.053082,0.051902,-0.058323,1.000000,-0.102086,0.025663,0.103216,-0.042418,-0.046475,-0.019998,0.274719,0.005391,0.015853
bicycle,-0.118918,-0.118460,0.007080,-0.018052,-0.001884,0.048472,-0.019256,-0.156078,-0.102086,1.000000,-0.267050,-0.163750,-0.286870,-0.047055,-0.081040,-0.105782,0.077702,-0.008329
car,0.067949,0.069570,-0.031943,0.021650,0.005522,0.050791,0.143320,0.061152,0.025663,-0.267050,1.000000,-0.136893,-0.120397,-0.132059,-0.294812,0.023261,-0.052091,-0.007556
pedestrian,0.024651,0.023336,-0.017539,0.041672,0.002056,-0.138883,0.409512,0.016589,0.103216,-0.163750,-0.136893,1.000000,-0.129177,-0.043020,-0.054986,0.057773,0.021533,0.006924
motorbike,-0.011485,-0.011794,0.030212,0.020163,-0.011212,-0.056115,-0.151965,-0.011151,-0.042418,-0.286870,-0.120397,-0.129177,1.000000,-0.035152,-0.083914,0.001179,-0.030611,-0.005121
truck,0.009054,0.008114,-0.007292,-0.086604,-0.014748,-0.026458,-0.029493,0.054258,-0.046475,-0.047055,-0.132059,-0.043020,-0.035152,1.000000,-0.032107,-0.020410,0.003103,0.010724
other_vehicle,0.001900,0.000217,0.020024,-0.030827,0.004608,-0.000508,-0.117610,0.071207,-0.019998,-0.081040,-0.294812,-0.054986,-0.083914,-0.032107,1.000000,-0.031908,0.033844,0.000936
road_conditions,0.022314,0.022370,0.055922,0.019604,-0.009865,-0.007823,0.010339,-0.057228,0.274719,-0.105782,0.023261,0.057773,0.001179,-0.020410,-0.031908,1.000000,0.001211,-0.003106
longitude,0.260066,0.256023,0.008040,-0.012448,-0.000594,-0.000415,0.036179,-0.032749,0.005391,0.077702,-0.052091,0.021533,-0.030611,0.003103,0.033844,0.001211,1.000000,-0.132437
latitude,-0.111491,-0.105933,-0.000674,-0.011282,0.003747,0.016001,0.002801,0.004366,0.015853,-0.008329,-0.007556,0.006924,-0.005121,0.010724,0.000936,-0.003106,-0.132437,1.000000

In [24]:
data.movement = data.movement.replace({1:'Driving',2:'Turning',3:'Crossing',4:'Overtaking',5:'Paralle Traffic',6:'Stationary Traffic',7:'Other'})
data.movement.value_counts()

Turning               3253
Stationary Traffic    3021
Crossing              2710
Other                 1235
Overtaking            1121
Paralle Traffic       1094
Driving                956
Name: movement, dtype: int64

In [25]:
data.light_conditions = data.light_conditions.replace({0:'Daylight',1:'Dawn',2:'Night'})
data.light_conditions.value_counts()

Daylight    9858
Night       2808
Dawn         724
Name: light_conditions, dtype: int64

In [26]:
data.road_conditions = data.road_conditions.replace({0:'Dry',1:'Wet',2:'Frozen'})
data.road_conditions.value_counts()

Dry       10155
Wet        3190
Frozen       45
Name: road_conditions, dtype: int64

In [27]:
data.injury = data.injury.replace({1 : "fatal", 2 : "serious", 3 : "minor"})

In [28]:
data

,district,lor,street,month,hour,weekday,injury,collision,movement,light_conditions,bicycle,car,pedestrian,motorbike,truck,other_vehicle,road_conditions,longitude,latitude
0,12,12301203,Wittenau Süd,1,13,6,minor,5,Crossing,Daylight,1,1,0,0,0,0,Wet,13.34146,52.58609
1,3,3040818,Pankow Süd,1,9,5,minor,5,Crossing,Daylight,1,1,0,0,0,0,Dry,13.41356,52.55862
2,12,12103115,Breitkopfbecken,3,21,6,minor,0,Driving,Night,1,0,0,0,0,0,Dry,13.36034,52.57159
3,6,6040703,Nikolassee,1,7,6,serious,6,Overtaking,Dawn,0,1,1,0,0,0,Wet,13.21777,52.42825
4,7,7030303,Grazer Platz,2,15,3,minor,2,Stationary Traffic,Daylight,0,1,0,0,0,0,Dry,13.36007,52.47421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13385,1,1011303,Alexanderplatzviertel,12,15,2,minor,3,Stationary Traffic,Daylight,0,1,1,0,0,0,Dry,13.41538,52.52271
13386,1,1011201,Wilhelmstraße,12,14,2,minor,1,Paralle Traffic,Daylight,1,1,0,0,0,0,Dry,13.38421,52.51232
13387,1,1011304,Karl-Marx-Allee,12,14,2,minor,2,Turning,Daylight,0,1,0,0,0,1,Dry,13.41808,52.51544
13388,11,11030721,Rüdigerstraße,12,18,4,serious,5,Turning,Night,0,1,0,1,0,0,Dry,13.49862,52.51569
13389,1,1011202,Unter den Linden Nord,12,14,4,minor,2,Turning,Daylight,1,1,0,0,0,0,Dry,13.38082,52.51640

In [237]:
dict = {
1 : "Mitte",
2 : "Friedrichshain-Kreuzberg",
3 : "Pankow",
4 : "Charlottenburg-Wilmersdorf",
5 : "Spandau",
6 : "Steglitz-Zehlendorf",
7 : "Tempelhof-Schöneberg", 
8 : "Neukölln",
9 : "Treptow-Köpenick",
10 : "Marzahn-Hellersdorf",
11 : "Lichtenberg",
12 : "Reinickendorf"
}

data["district_name"] = data.district.map(dict)

In [238]:
data["district_name"].value_counts()

Mitte                         2215
Charlottenburg-Wilmersdorf    1727
Friedrichshain-Kreuzberg      1381
Tempelhof-Schöneberg          1241
Pankow                        1219
Neukölln                       934
Treptow-Köpenick               892
Reinickendorf                  867
Steglitz-Zehlendorf            851
Spandau                        798
Lichtenberg                    679
Marzahn-Hellersdorf            586
Name: district_name, dtype: int64

In [239]:
data.duplicated().value_counts()

False    13387
True         3
dtype: int64

In [240]:
data

,district,lor,street,month,hour,weekday,injury,collision,movement,light_conditions,bicycle,car,pedestrian,motorbike,truck,other_vehicle,road_conditions,longitude,latitude,district_name
0,12,12301203,Wittenau Süd,1,13,6,minor,5,Crossing,Daylight,1,1,0,0,0,0,Wet,13.34146,52.58609,Reinickendorf
1,3,3040818,Pankow Süd,1,9,5,minor,5,Crossing,Daylight,1,1,0,0,0,0,Dry,13.41356,52.55862,Pankow
2,12,12103115,Breitkopfbecken,3,21,6,minor,0,Driving,Night,1,0,0,0,0,0,Dry,13.36034,52.57159,Reinickendorf
3,6,6040703,Nikolassee,1,7,6,serious,6,Overtaking,Dawn,0,1,1,0,0,0,Wet,13.21777,52.42825,Steglitz-Zehlendorf
4,7,7030303,Grazer Platz,2,15,3,minor,2,Stationary Traffic,Daylight,0,1,0,0,0,0,Dry,13.36007,52.47421,Tempelhof-Schöneberg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13385,1,1011303,Alexanderplatzviertel,12,15,2,minor,3,Stationary Traffic,Daylight,0,1,1,0,0,0,Dry,13.41538,52.52271,Mitte
13386,1,1011201,Wilhelmstraße,12,14,2,minor,1,Paralle Traffic,Daylight,1,1,0,0,0,0,Dry,13.38421,52.51232,Mitte
13387,1,1011304,Karl-Marx-Allee,12,14,2,minor,2,Turning,Daylight,0,1,0,0,0,1,Dry,13.41808,52.51544,Mitte
13388,11,11030721,Rüdigerstraße,12,18,4,serious,5,Turning,Night,0,1,0,1,0,0,Dry,13.49862,52.51569,Lichtenberg
13389,1,1011202,Unter den Linden Nord,12,14,4,minor,2,Turning,Daylight,1,1,0,0,0,0,Dry,13.38082,52.51640,Mitte

In [241]:
data.shape

(13390, 20)

In [242]:
data.to_excel('Berlin Traffic Accident 2019 cleaned.xlsx')

In [85]:
# from getpass import getpass
# password = getpass()

# import pymysql
# from sqlalchemy import create_engine

# connection_string = 'mysql+pymysql://root:'+password+'@localhost/'
# engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host='localhost', db='accidents', user='root', pw=password))

# # Convert dataframe to sql table                                   
# data.to_sql('records', engine, index=False)